* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    
}

body {
    background-color: #d9dcd6;
}

/* This code "color" makes the header name "Horiseon" white,
This code "background-color" styles header background blue
This code "font-family" styles the Header name "Horiseon"
This code "padding" generates space around the blue header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* DONT NEED DELETED FROM H1 this changed the color 
of the part of the name "seo"*/
/* .header h1 .seo {
    color: #d9dcd6;
} */

/* MOVES THE MENU BUTTONS TO THE RIGHT SPOT */
/* NOTE CHANGE TO HEADER NAV */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* DOESNT DO ANYTHING THAT I CAN SEE */
.header div ul {
    list-style-type: none;
}

/* MOVES MENU BUTTONS ON TOP OF EACH OTHER 
IF REMOVED  */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* GIVES THE WHITE COLOR TO THE MENU TEXT  */
a {
    color: #ffffff;
    text-decoration: none;
}

/* CHANGES THE TEXT OF EVERYTHING UNDER */
p {
    font-size: 16px;
}

/* Targetting classes because of the . (period) */
/* BACKGROUND MEETING IMAGE IS ON HERE? */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* BLUE SQUARE MAIN SQUARE BOXES GET BIGGER IF REMOVED  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* REMOVES THE BLUE BOXES ON THE ASIDE BOXES  */

/* FLOAT: RIGHT; MAKES THE SIDE BOXES GO AWAY WHEN CLICKING IT OFF ON BROWSER DEV TOOL */
/* BOX-SIZING: BORDER-BOX WHEN UNCHECK ON DEV TOOL MAKES IT LOOK HOW MINE DOES */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;

    /* ADDING THIS TO KINDA FIX IT   */
    /* position: absolute;
    top: 93%;
    right: 0;  */
    
} 




/* The next 3 are the same can combine to one class  */
/* CHANGES THE COLOR OF THE ASIDE BOXES TEXT */


.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* The next 3 are the same can combine to one class  */

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* The next 3 are the same can combine to one class  */
/* REMOVES ASIDE BOXES IMAGES  */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The next 3 are the same can combine to one class  */
/* GIVES THE MAIN 3 BOXES THE STYLE & COLOR  */

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* The next 3 are the same can combine to one class  */

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
/* The next 3 are the same can combine to one class  */

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* FOOTER  */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
